/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:acca36d8d947abb82316f138d357d420:2ffb2c3f767172d597e2d8cad25da23c:90c77e0ef927e07122ee2024053ebc7e$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(playerOne.png);}

.ken {width:490px; height:800px; background-position: -2px -2px}
