{% extends 'layout.html' %}

{% block title %}My Page{% endblock %}

{% block head %}
  {% parent %}
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="/stylesheets/chat.css">
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>-->
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script type="text/javascript" src="/javascripts/socketio/membreEnLigne.js"></script>
  

{% endblock %}

{% block content %}
<div class="page-header">
  <h1 class="text-center">JSFight - Home</h1>
</div>

<div id="emplacementQwickFight">    
  <div id="QwickMatch" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  	<div style="padding-top:30px" class="panel-body" >
		
      <button  class="btn btn-success" onclick="qwickFight()">Qwick Fight</button>
      <a href="/ladder"><button  class="btn btn-success">Hall of fame</button></a>
      <a href="/home"><button  class="btn btn-success">Home</button></a>
      <a href="/myProfile"><button  class="btn btn-success">My profile</button></a>
    
    </div>
	</div>
</div>

<input type="text" value="{{ pseudo }}" id="monpseudo" hidden>
<div id="afficherInvitationAUnCombat">
</div>
<div class="col-xs-12 col-md-8">
  <div id="membresEnLigne" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Membres en ligne</div>
            
        </div>  
        <div class="panel-body" >
            <div class="" id="listeUsersOnLine">

            </div>
        </div>
    </div>      
</div>
</div>

 <div class="col-xs-6 col-md-4">
    
    <div class="">
      <div class="chat-box-div">
          <div class="chat-box-head">
              CHAT
                  
          </div>
          <div class="panel-body chat-box-main" >
              <div id="zoneMessagesGlobaux">

              </div>
          </div>
          <div class="chat-box-footer">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter Text Here..." id="messageAEnvoyer">
                  <span class="input-group-btn">
                      <button class="btn btn-info" type="button" onclick="emitMessage()">SEND</button>
                  </span>
              </div>
          </div>

      </div>

    </div>
  </div> 

<div id="invitationAUnCombat" hidden>
  <div  style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info">
          <div class="panel-heading">
              <div class="panel-title">Invitation à un combat</div>
              
          </div>  
          <div class="panel-body" >
              <div class="" >
                  <button class="btn btn-success col-md-4 accepterCombat" >Accepter</button> <button class="btn btn-danger col-md-4 col-md-offset-4 reffuserCombat" >Reffuser</button>
              </div>
          </div>
      </div>      
  </div> 
</div>
<div id="attenteQwickFight" hidden>
  <div  style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info">
          <div class="panel-heading">
              <div class="panel-title">Qwick Fight</div>
              
          </div>  
          <div class="panel-body" >
              <div class="" >
                  <div class=" col-md-4 " >En attente d'un combat...</div><button class="btn btn-danger col-md-4 col-md-offset-4 reffuserCombat" onclick='annulerQwickFight()'>Annuler</button>
              </div>
          </div>
      </div>      
  </div> 
</div>   
<div hidden> 
 <div id="QwickMatchBack" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div style="padding-top:30px" class="panel-body" >
    
      <button  class="btn btn-success" onclick="qwickFight()">Qwick Fight</button>
      <a href="/ladder"><button  class="btn btn-success">Hall of fame</button></a>
      <a href="/home"><button  class="btn btn-success">Home</button></a>
      <a href="/myProfile"><button  class="btn btn-success">My profile</button></a>
    
    </div>
  </div>  
</div>                 
<!--modales-->
<div class="modal fade" id="invitationCombatRecue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Invitation à un combat</h4>
      </div>
      <div class="modal-body">
          <p>Vous êtes invité à un combat</p>
          
      </div>
      <div class="modal-footer">
        <button class="btn btn-success col-md-4">Accepter</button> <button class="btn btn-danger col-md-4 col-md-offset-4">Reffuser</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript" src="/javascripts/socketio/chatGlobal.js"></script>
{% endblock %}
